
# Chemin vers le dossier de build (contexte)
API_BUILD_CONTEXT=./api

# Chemin vers le Dockerfile (relatif au context)
API_DOCKERFILE_PATH=./Dockerfile

# Chemin vers le fichier .env spécifique à ton API
API_ENV_FILE=./api/.env

# Port exposé
API_PORT=5000

GITHUB_USERNAME=

GITHUB_TOKEN=

DB_NAME=

DB_USER=

DB_PASSWORD=