# ── Base de données ────────────────────────────────────────────────────────────
DB_NAME=cesizen_preprod
DB_USER=
DB_PASSWORD=
DB_HOST=postgres
DB_PORT=5432

# ── PgBouncer ─────────────────────────────────────────────────────────────────
POOL_MODE=transaction
MAX_CLIENT_CONN=50
DEFAULT_POOL_SIZE=10
MIN_POOL_SIZE=2
RESERVE_POOL_SIZE=2
LISTEN_ADDRESS=*
LISTEN_PORT=6432
AUTH_TYPE=scram-sha-256

# ── GitHub Container Registry ─────────────────────────────────────────────────
GITHUB_REPOSITORY_OWNER=

# ── API (transmis au conteneur API) ───────────────────────────────────────────
JWT_SECRET=
DATABASE_CONNECTION_STRING=Host=pg-bouncer;Port=6432;Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
API_KEY=
SMTP_HOST=
SMTP_EMAIL_SENDER=
SMTP_PASSWORD=
URL_FRONT=http://localhost:3001
URL_BACKOFFICE=http://localhost:3001
